Source: spirv-cross
Section: graphics
Priority: optional
Maintainer: John Zupin <johnz@lunarg.com>
Build-Depends: debhelper (>= 10),
 cmake
Standards-Version: 4.1.2
Homepage: https://github.com/KhronosGroup/SPIRV-Cross
Vcs-Git: https://github.com/KhronosGroup/SPIRV-Cross
Vcs-Browser: https://github.com/KhronosGroup/SPIRV-Cross

Package: spirv-cross
Architecture: any
Replaces: spirv-cross-dev (<< 1.2.148.0)
Breaks: spirv-cross-dev (<< 1.2.148.0)
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SPIRV-Cross is a tool designed for parsing and
 converting SPIR-V to other shader languages.

Package: spirv-cross-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description:  SPIRV-Cross is a tool designed for parsing and
 converting SPIR-V to other shader languages.

