Source: spirv-cross
Section: libdevel
Priority: optional
Maintainer: John Zupin <johnz@lunarg.com>
Build-Depends: debhelper (>=9), cmake
Standards-Version: 3.9.6
Homepage: https://github.com/KhronosGroup/SPIRV-Cross
Vcs-Git: https://github.com/linuxturtle/SPIRV-Cross.git
Vcs-Browser: https://github.com/linuxturtle/SPIRV-Cross

Package: spirv-cross
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A tool for cross-compiling SPIR-V to other shader formats
 SPIRV-Cross is a tool designed for parsing and converting SPIR-V to other
 shader languages.

Package: spirv-cross-dev
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A tool for cross-compiling SPIR-V to other shader formats
 SPIRV-Cross is a tool designed for parsing and converting SPIR-V to other
 shader languages.
